<script>
document.addEventListener('DOMContentLoaded', function () {

if(typeof hook_manager_clicks === 'undefined')
{
    function hook_manager_clicks ()
    {
        const data = this.dataset

        var body = new URLSearchParams();
        body.append('action', 'bcc_insert_row');
        body.append('name', data.click);

        fetch(data.admin, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body,
        })

        if (data.url) window.open(data.url, '_blank')
    }
}

document.querySelectorAll('[name="bcc-click"]')
    .forEach(btn => {
        btn.addEventListener('click', hook_manager_clicks)
    })
})
</script>
